.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-orange);
    border: var(--color-dark) 5px solid;
    padding:  10px;
    border-radius: 30px;
    margin-bottom: 20px;
    filter: hue-rotate(322deg);
}
.main-menu a {
    display: block;
    color: var(--color-purple);
    font-size: var(--font-size-main);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out,
                transform 0.3s ease-in-out; 
    
    filter: invert(100%);        
}
.wrapper1 {
    width: 100%;
    min-height: 100%;
    background: url(../img/comic21/background-red.jpg);
    padding-left: 20px;
    padding-right: 20px;
    background-size:cover;
}
.comic-title {
    font-family: var(--main-font);
    font-size: var(--font-size-comic-title);
    color:var(--color-purple);
    font-size: 50px;
    text-align: center;
    text-decoration:overline underline;
    text-decoration-color: var(--color-darkorange);
    margin-bottom: 20px;
    filter: invert(100%);
}
.comic-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--color-purple);
    font-family: var(--main-font);

}

.comic__item {
    width: 50%;
    min-height: 400px;
    border: 3px solid var(--color-purple);
    position: relative;
}

.comic__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cloud-img {
    filter: blur(2px);
    width: 100%;
    transition: all 0.4s cubic-bezier(0.6, 0, 0.05, 0.98);
}

.comic__item1 .comic__img {
    filter: blur(2px);
    transition: all 0.4s cubic-bezier(0.6, 0, 0.05, 0.98);
}
.comic__item1:hover .comic__img,
.comic__item1:focus .comic__img{
    filter: blur(0px);
}

.comic__item2 .comic__img {
    filter: blur(2px);
    transition: all 0.4s ease-in-out;
}
.comic__item2:hover .comic__img,
.comic__item2:focus .comic__img{
    filter: blur(0px);
}

.comic__item3 .comic__img {
    filter: blur(2px);
    transition: all 0.4s cubic-bezier(0.6, 0, 0.05, 0.98);
}
.comic__item3:hover .comic__img,
.comic__item3:focus .comic__img{
    filter: blur(0px);
}

.comic__item4 .comic__img {
    filter: blur(2px);
    transition: all 0.4s ease-in-out;
}
.comic__item4:hover .comic__img,
.comic__item4:focus .comic__img{
    filter: blur(0px);
}

.comic__item5 .comic__img{
    filter: blur(2px);
    transition: all 0.4s ease-in-out;
}
.comic__item5:hover .comic__img,
.comic__item5:focus .comic__img{
    filter: blur(0px);
}
.comic__item5 .cloud1 {
    position: absolute;
    width: 200px;
    top: -40px;
    left: 0;
}

.comic__item5 .cloud-img1 {
    transform: scaleX(-1);
}

.comic__item5 .cloud2 {
    position: absolute;
    width: 200px;
    right: 25%;
    bottom: 10px;
    transform: scaleX(-1);
}

.comic__item5 .cloud-img2 {
    transform: rotate(180deg);
}
.comic__item5:hover .cloud-img,
.comic__item5:focus .cloud-img{
    filter: blur(0px);
}
.comic__item5 .text1 {
    position: absolute;
    top: 90px;
    right: 65px;
    font-size: 12px;

}

.comic__item5 .text2 {
    position: absolute;
    left: 60px;
    bottom: 95px;
    font-size: 12px;
    transform: scaleX(-1);
    
}
.cloud-text{
    filter: blur(2px);
    transition: all 0.4s ease-in-out;
}
.comic__item5:hover .cloud-text,
.comic__item5:focus .cloud-text{
    filter: blur(0px);
}
.comic__item6 .comic__img{
    filter: blur(2px);
    transition: all 0.4s ease-in-out;
}
.comic__item6:hover .comic__img,
.comic__item6:focus .comic__img{
    filter: blur(0px);
}

main {
    flex-grow: 1;
    border: var(--color-dark) 5px solid;
    padding:  50px;
    border-radius: 30px;
    background-color: var(--color-orange);
    
    filter: hue-rotate(322deg);
}

@media(max-width:900px) {
    .comic__item {
        width: 100%;
    }
}

@media(max-width:600px) {
    .comic__item5 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item5 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }

    .comic__item5 .cloud2 {
        position: absolute;
        width: 200px;
        right: 50px;
        bottom: 50px;
    }

    .comic__item5 .cloud-img2 {
        transform: rotate(180deg);
    }
}